.nav-custom{
    font-size: 20px; 
    margin-left: auto;
 }
 .margin{  
    margin-right: 20px;
 }
 
 footer{
     color:white;
     margin-top: auto;
 }
 
 .custom-footer{
     margin-top: 20px;
 }
 
 .font-color {
     color:white;
 }
 
 .font{
     font-family:"courier new";
 }
 
 
 .dashboard-body{
    background-image: url("images/home.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

body {
    background-color: rgb(0, 0, 0);
}
 
 .bg-sigup {
    background-image:url("bike1.jpg");
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
 }
 
 #place { 
 margin-bottom: 20px; 
 padding: 10px; 
 border: 1px solid #ccc; 
 } 
 #place img {
  max-width: 100%; 
 height: auto; 
 }
 #map { 
 height: 400px; 
 width: 100%; 
 }
 
 
 .event-card {
     margin-bottom: 20px;
 }
 